<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <style>
        /* Styles personnalisés */
        body {
            background-color: #ced4da;
            margin: 0;
        }

        .sidebar {
            background-color: #343a40;
            color: #fff;
            height: 100vh;
        }

        .sidebar .nav-link {
            color: #fff;
        }

        .card {
            margin: 5px;
            background-color: #dbdcdd;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            height: calc(50vh - 56px); /* 56px est la hauteur de la navbar */
        }

        .card .card-body {
            padding: 20px;
            height: 100%;
        }

        .card .card-title {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .card .icon {
            font-size: 3rem;
            margin-bottom: 10px;
        }

        #client {
            cursor: pointer; /* Changement du curseur pour pointer */
        }

        #products {
            cursor: pointer; /* Changement du curseur pour pointer */
        }

        #orders {
            cursor: pointer; /* Changement du curseur pour pointer */
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Navbar sur le côté gauche -->
        <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: #343a40;">
            <div class="sidebar-sticky">
                <img src="../../logo_blanc.png" alt="Logo">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="./users.html">
                            Gestion user
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Add PromoCode
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Module 3
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Disconnect
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Contenu des modules -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="client">
                            <i class="fas fa-chart-line icon"></i>
                            <h5 class="card-title">Liste de clients</h5>
                            <p>Nombre de client inscrit:</p>
                            <h2 id="nbr_client"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="products">
                            <i class="fas fa-users icon"></i>
                            <h5 class="card-title">Gestion des produits</h5>
                            <p>Nombre de produit hors stock: </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="orders">
                            <i class="fas fa-tasks icon"></i>
                            <h5 class="card-title">Gestion des commandes</h5>
                            <p id="nbrcommande">Nombre de commande total: </p>
                            <p id="totalOrderAttentePEC">Chiffre d'affaire en attente de prise en charge : </p>
                            <p id="totalOrderAttenteP">Chiffre d'affaire en attente de préparation : </p>
                            <p id="totalOrderValide">Chiffre d'affaire validé : </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="staffs">
                            <i class="fas fa-bell icon"></i>
                            <h5 class="card-title">Gestion des préparateurs</h5>
                            <p>Nombre de préparateur</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script type="module">
    import {getNbrClient} from "../../script/getNbrClient.js";

    async function updateNbrClient() {
        const nbr_client = await getNbrClient();
        document.getElementById("nbr_client").textContent = nbr_client;
    }

    updateNbrClient();
</script>

<script type="module">
    import {getOrderCount} from "../../script/getOrderCount.js";

    const nbrOrder = await getOrderCount();

    // Récupérer l'élément h2
    var nbrcommande = document.getElementById("nbrcommande");

    // Ajouter le texte de la variable à l'élément h2
    nbrcommande.innerText += " " + nbrOrder;
</script>

<script type="module">
    import {getAmountByState} from "../../script/getAmountByState.js";

    getAmountByState(1).then(async function (data) {

        // Récupérer l'élément tbody du tableau
        const totalOrderAttentePEC = document.getElementById("totalOrderAttentePEC");

        totalOrderAttentePEC.innerText += " " + data[0].TOTAL_ORDER;

    }).catch(function(error) {
        console.error("Une erreur s'est produite lors de la récupération des données :", error);
    });
</script>

<script type="module">
    import {getAmountByState} from "../../script/getAmountByState.js";

    getAmountByState(2).then(async function (data) {

        // Récupérer l'élément tbody du tableau
        const totalOrderAttenteP = document.getElementById("totalOrderAttenteP");

        totalOrderAttenteP.innerText += " " + data[0].TOTAL_ORDER;

    }).catch(function(error) {
        console.error("Une erreur s'est produite lors de la récupération des données :", error);
    });
</script>

<script type="module">
    import {getAmountByState} from "../../script/getAmountByState.js";

    getAmountByState(3).then(async function (data) {

        // Récupérer l'élément tbody du tableau
        const totalOrderValide = document.getElementById("totalOrderValide");

        totalOrderValide.innerText += " " + data[0].TOTAL_ORDER;

    }).catch(function(error) {
        console.error("Une erreur s'est produite lors de la récupération des données :", error);
    });
</script>

<script>
    // Sélection du div par son ID
    var cardBody = document.getElementById("client");

    // Ajout d'un gestionnaire d'événements de clic
    cardBody.addEventListener("click", function() {
        // Redirection vers une autre page
        window.location.href = "./users.html";
    });
</script>

<script>
    // Sélection du div par son ID
    var cardBody = document.getElementById("orders");

    // Ajout d'un gestionnaire d'événements de clic
    cardBody.addEventListener("click", function() {
        // Redirection vers une autre page
        window.location.href = "./orders.html";
    });
</script>

<script>
    // Sélection du div par son ID
    var cardBody = document.getElementById("products");

    // Ajout d'un gestionnaire d'événements de clic
    cardBody.addEventListener("click", function() {
        // Redirection vers une autre page
        window.location.href = "./products.html";
    });
</script>

<script>
    // Sélection du div par son ID
    var cardBody = document.getElementById("staffs");

    // Ajout d'un gestionnaire d'événements de clic
    cardBody.addEventListener("click", function() {
        // Redirection vers une autre page
        window.location.href = "./staffs.html";
    });
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
