<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="../css/output.css" rel="stylesheet">
</head>
<body>
<div class="w-full bg-gradient-to-bl from-neutral-900 to-slate-900 bg-cover h-screen">
    <div class="w-full max-w-xl mx-auto">
        <div class="w-full py-20">
            <div class="bg-gray-700 rounded-lg max-w-sm mx-auto text-white">
                <div class="my-4 py-4">
                    <h3 class="font-bold text-center text-2xl">Fast Sushi <span class="bg-gradient-to-r from-cyan-500 to-sky-600 px-2 rounded-lg font-light">admin</span></h3>
                </div>
                <div class="card-body">
                    <form id="loginForm" typeof="Form">
                        <div class="w-full max-w-80 mx-auto mb-3">
                            <div class="grid grid-cols-1">
                                <label class="font-bold" for="username">Nom d'utilisateur</label>
                                <input type="text" class="w-full rounded-sm p-2 text-black focus:border-0" id="username" name="username" placeholder="Entrez votre nom d'utilisateur">
                            </div>
                        </div>
                        <div class="w-full max-w-80 mx-auto mb-4">
                            <div class="grid grid-cols-1">
                                <label class="font-bold" for="password">Mot de passe</label>
                                <input type="password" class="w-full rounded-sm p-2 text-black" id="password" name="password" placeholder="Entrez votre mot de passe">
                            </div>
                        </div>
                        <div class="w-full max-w-44 mx-auto">
                            <button type="submit" class="my-4 mb-6 p-2 mx-auto w-full max-w-44 bg-gradient-to-r from-cyan-500 to-sky-600 font-bold rounded-md hover:to-sky-700">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module">
    import { getLogin } from '../../script/getLogin.js';
    import { IsJWTadmin } from '../../script/isJWTadmin.js'

    document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault(); // Prevent page reload

        try {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Await the response from the asynchronous function
            const token = await getLogin(username, password);

            if (token!=null) {
                if (IsJWTadmin(token)) {
                    sessionStorage.setItem('token', token);
                    console.log("check")
                    window.location.replace("./home.html");
                } else {
                    alert("Permission non autorisé")
                }
            }

        } catch (e) {
            // Handle errors
            alert('Error: ' + e.message);
        }
    });

</script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UIEzdmUZGA7OUw7SXB7twAXu5fUeNbjAYR/3FO5w613UKzEA9" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39zB38/8EemB5B+V91B5JD" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6SpejhvnvqXq67UX9aJ57G47w2C6FovdEtjP8GHRd4H1kLSoVfVKVRy3+Qns" crossorigin="anonymous"></script>


</body>
</html>
