<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau Bootstrap avec données JSON</title>
    <!-- Bootstrap CSS -->
    <link href="../css/input.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h2 id="titreTableau">Liste des produits de la commande</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id_product</th>
                <th>type_product</th>
                <th>product_name</th>
                <th>price</th>
                <th>quantity</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary"><a href="./home.html" class="text-dark">Retour</a></button>
    </div>
</div>

<!-- Bootstrap JS and jQuery (optional, for some features like dropdowns, modals, etc.) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>




<script type="module">
    import {getOrderContent} from "../../script/getOrderContent.js";

    // Récupérer les paramètres de l'URL
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    // Récupérer la valeur de l'ID
    const id = urlParams.get('id');

    document.addEventListener("DOMContentLoaded", function () {
        // Supposons que vous ayez récupéré des données JSON et que vous les avez stockées dans un tableau JavaScript
        getOrderContent(id).then(function(data) {

            // Récupérer l'élément tbody du tableau
            const tbody = document.getElementById("table-body");

            // Boucler à travers les propriétés de l'objet JavaScript et les ajouter au tableau
            for (const key in data) {
                if (data.hasOwnProperty(key)) {
                    const item = data[key];
                    let quantity;
                    if (item.quantity == null) {
                        quantity = 1;
                    } else {
                        quantity = item.quantity;
                    }
                    // console.log(item.id_product + " ___ " + item.type_product + " ___ " + item.product_name + " ___ " + item.price + " ___ " + quantity)
                    // console.log(quantity + " ___ " + typeof(quantity))
                    const row = document.createElement("tr");
                    row.innerHTML = "<td>" + item.id_product + "</td><td>" + item.type_product + "</td><td>" + item.product_name + "</td><td>" + item.price + "</td><td>" + quantity + "</td>";

                    tbody.appendChild(row);
                }
            }
        }).catch(function(error) {
            console.error("Une erreur s'est produite lors de la récupération des données :", error);
        });
    });
</script>

</body>
</html>
