<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire Prérempli avec JS</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2 id="titre">Gestion du produit n°</h2>
  <form id="updateUser" typeof="Form">
    <div class="form-group">
      <label for="type_product">type_product :</label>
      <input class="form-control" id="type_product"></input>
    </div>
    <div class="form-group">
      <label for="product_name">product_name :</label>
      <input type="text" class="form-control" id="product_name">
    </div>
    <div class="form-group">
      <label for="description">description :</label>
      <input type="text" class="form-control" id="description">
    </div>
    <div class="form-group">
      <label for="price">price :</label>
      <input type="text" class="form-control" id="price">
    </div>
    <div class="form-group">
      <label for="quantity">quantity :</label>
      <input type="text" class="form-control" id="quantity">
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
    <button type="button" class="btn btn-danger">Supprimer le produit</button>
    <button type="button" class="btn btn-secondary"><a href="./home.html" class="text-dark">Retour</a></button>
  </form>
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script type="module">

  // Récupérer les paramètres de l'URL
  import {getProductByID} from "../../script/getProductByID.js";

  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  // Récupérer la valeur de l'ID
  const id = urlParams.get('id');

  document.addEventListener("DOMContentLoaded", function () {
    // Supposons que vous ayez récupéré des données JSON et que vous les avez stockées dans un tableau JavaScript
    getProductByID(id).then(function(PromiseResult) {
      // Créer un tableau contenant les données
      const data = [PromiseResult];

      // Récupérer l'élément tbody du tableau
      const tbody = document.getElementById("table-body");

      var id_product = data[0][0].id_product
      var type_product = data[0][0].type_product;
      var product_name = data[0][0].product_name;
      var description = data[0][0].description;
      var price = data[0][0].price;
      var quantity = data[0][0].quantity;

      // Récupérer l'élément h2
      var titreFormulaire = document.getElementById("titre");

      // Ajouter le texte de la variable à l'élément h2
      titreFormulaire.innerText += " " + id_product;

      // Remplissage des champs du formulaire avec les valeurs par défaut
      document.getElementById("type_product").value = type_product;
      document.getElementById("product_name").value = product_name;
      document.getElementById("description").value = description;
      document.getElementById("price").value = price;
      document.getElementById("quantity").value = quantity;
    }).catch(function(error) {
      console.error("Une erreur s'est produite lors de la récupération des données :", error);
    });
  });

</script>

<script type="module">

  // Récupérer les paramètres de l'URL
  import {updateProduct} from "../../script/updateProduct.js";

  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  const id = urlParams.get('id');

  document.getElementById('updateUser').addEventListener('submit', async function (event) {
    event.preventDefault(); // Prevent page reload

    const id_product = document.getElementById('id_product').value;
    const type_product = document.getElementById('type_product').value;
    const product_name = document.getElementById('product_name').value;
    const description = document.getElementById('description').value;
    const price = document.getElementById('price').value;
    const quantity = document.getElementById('quantity').value;

    const response = updateProduct(id_product, type_product, product_name, description, price, quantity);

    alert("Changement effectué")
  });

</script>

<script type="module">

  import {deleteProduct} from "../../script/deleteProduct.js";

  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  // Récupérer la valeur de l'ID
  const id = urlParams.get('id');

  const deleteButton = document.querySelector('.btn-danger');

  // Ajout d'un gestionnaire d'événements au clic sur le bouton
  deleteButton.addEventListener('click', function() {
    // Code à exécuter lorsque le bouton est cliqué
    if (confirm("Voulez-vous vraiment supprimer ce produit ?")) {
      const response = deleteProduct(id);
      alert("Produit supprimé");
    }
  });

</script>

</body>
</html>