<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire Prérempli avec JS</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2 id="titre">Gestion du user</h2>
  <form id="updateUser" typeof="Form">
    <div class="form-group">
      <label for="last_name">last_name:</label>
      <input type="text" class="form-control" id="last_name">
    </div>
    <div class="form-group">
      <label for="first_name">first_name:</label>
      <input class="form-control" id="first_name"></input>
    </div>
    <div class="form-group">
      <label for="username">username:</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="email">email:</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
    <label for="tel">tel:</label>
    <input type="text" class="form-control" id="tel">
  </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    <button type="button" class="btn btn-danger">Supprimer l'utilisateur</button>
    <button type="button" class="btn btn-secondary"><a href="./home.html" class="text-dark">Retour</a></button>
  </form>
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script type="module">
  import {getClientByID} from "../../script/getClientByID.js";

  // Récupérer les paramètres de l'URL
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  // Récupérer la valeur de l'ID
  const id = urlParams.get('id');

  document.addEventListener("DOMContentLoaded", function () {
    // Supposons que vous ayez récupéré des données JSON et que vous les avez stockées dans un tableau JavaScript
    getClientByID(id).then(function(PromiseResult) {
      // Créer un tableau contenant les données
      const data = [PromiseResult];

      // Récupérer l'élément tbody du tableau
      const tbody = document.getElementById("table-body");

      console.log(data[0][0]);

      var id_user = data[0][0].id_user
      var last_name = data[0][0].last_name;
      var first_name = data[0][0].first_name;
      var username = data[0][0].username;
      var email = data[0][0].email;
      var tel = data[0][0].tel;

      // Récupérer l'élément h2
      var titreFormulaire = document.getElementById("titre");

      // Ajouter le texte de la variable à l'élément h2
      titreFormulaire.innerText += " " + id_user;

      // Remplissage des champs du formulaire avec les valeurs par défaut
      document.getElementById("last_name").value = last_name;
      document.getElementById("first_name").value = first_name;
      document.getElementById("username").value = username;
      document.getElementById("email").value = email;
      document.getElementById("tel").value = tel;
    }).catch(function(error) {
      console.error("Une erreur s'est produite lors de la récupération des données :", error);
    });
  });

</script>
<script type="module">
  import {updateUser} from "../../script/updateUser.js";

  // Récupérer les paramètres de l'URL
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  const id = urlParams.get('id');

  document.getElementById('updateUser').addEventListener('submit', async function (event) {
    event.preventDefault(); // Prevent page reload

    const last_name = document.getElementById('last_name').value;
    const first_name = document.getElementById('first_name').value;
    const username = document.getElementById('username').value;
    const email = document.getElementById('email').value;
    const tel = document.getElementById('tel').value;

    const response = updateUser(id, last_name, first_name, username, email, tel);

    alert("Changement effectué")
  });

</script>

<script type="module">
  // Sélection du bouton "Supprimer l'utilisateur"
  import {deleteUser} from "../../script/deleteUser.js";

  // Récupérer les paramètres de l'URL
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  // Récupérer la valeur de l'ID
  const id = urlParams.get('id');

  const deleteButton = document.querySelector('.btn-danger');

  // Ajout d'un gestionnaire d'événements au clic sur le bouton
  deleteButton.addEventListener('click', function() {
    // Code à exécuter lorsque le bouton est cliqué
    if (confirm("Voulez-vous vraiment supprimer cet utilisateur ?")) {
      const response = deleteUser(id);
    }
  });
</script>

</body>
</html>